<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.td.admin.dao.BalanceDao">
    <sql id="tableName">
        t_balance
    </sql>
    <sql id="field">
        id,balance,useBalance,addr,ustdBalance
    </sql>
    <sql id="field2">
        (id,balance,useBalance,addr,ustdBalance)
    </sql>
    <sql id="value">
        (#{id},#{balance},#{useBalance},#{addr},#{ustdBalance})
    </sql>


    <select id="findByAddr" parameterType="string" resultType="map">
        <!--SELECT <include refid="field"/> FROM <include refid="tableName"/> WHERE addr = #{addr}-->
        SELECT
            id,balance,useBalance,ustdBalance,addr
        FROM
            t_balance
        WHERE
            addr = #{addr}
    </select>

    <update id="update" parameterType="map">
        UPDATE <include refid="tableName"/>
        <set>
            <if test="balance !='' and balance!=null">
                balance=#{balance},
            </if>
            <if test="useBalance !='' and useBalance!=null">
                useBalance=#{useBalance},
            </if>
            <if test="ustdBalance !='' and ustdBalance!=null">
                ustdBalance=#{ustdBalance}
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <select id="findAll" resultType="map">
        SELECT
            b.id,
            b.account,
            b.addr,
            b.name,
            b.level,
            b.status,
            a.balance,
            a.useBalance,
            a.ustdBalance
        FROM
            t_balance a
        LEFT JOIN t_user b ON a.addr = b.addr
    </select>

    <select id="findById" parameterType="string" resultType="map">
        SELECT
            b.id,
            b.account,
            b.addr,
            b.name,
            b.level,
            b.status,
            a.balance,
            a.useBalance,
            a.ustdBalance
        FROM
            t_balance a
        LEFT JOIN t_user b ON a.addr = b.addr
        WHERE b.id=#{id}
    </select>

    <update id="updateBalance" parameterType="map">
        UPDATE <include refid="tableName"/>
            <set>
                <if test="balance !='' and balance!=null">
                    balance=#{balance}
                </if>
            </set>
        WHERE addr=#{addr}
    </update>


</mapper>    